extends layout

block content
  h1= title
  p #{content}
  form(method="post" action="todo/confirm")
    | 依頼者:
    - var list = clientList
    select(name="client")
      each item in list
        option #{item}
    p
    | タイトル: 
    input(type="text" name="title")
    p
    | 内容: 
    input(type="text" name="description")
    p
    | 期限: 
    input(type="date" name="due")
    p
    input(type="submit" name="送信")

